# Gmail API OAuth2 Credentials
# Dapatkan dari Google Cloud Console → APIs & Services → Credentials
GMAIL_CLIENT_ID=994390546218-8dm94s5msd1bhba5410p8a9j64c0ais4.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=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
GMAIL_REFRESH_TOKEN=1//04wqLAuTpKu_ze-blWiSktMYla9dqT_0bfZYj4J7SKH3wSk5iIAlWiSktMYla9dP4Q7d9vJlYJ7SKH3wSk5iIAlWiSktMYla9dP4Q7d9vJlY
# Domain yang digunakan untuk temp mail (tanpa @)
EMAIL_DOMAIN=botnet.my.id

# Gmail address yang menerima forwarded email dari Cloudflare
GMAIL_ADDRESS=kaliajasih1@gmail.com
